.drips-container > .drip:nth-of-type(odd) {
    background: #fafafa;
}
.drip {
    background-color: #FFFFFF;
    border: solid 1px #d8d8d8;
    padding: 10px;
    position: relative;
    margin-top: -1px;
}
.drip-odd {
    background-color: #F5F5F9!important;
}
.drip .title {
    color: #222;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    margin-top: 5px;
}
.drip .text {
    margin: 5px 0;
    padding-right: 50px;
}
.drip .days {
    color: #5f5f5f;
    display: block;
    line-height: 25px;
}
.drip-day-input {
    max-width: 60px;
}
.drip .delete {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    position: absolute;
    top: 50%;
    height: 56px;
    margin-top: -28px;
}
.drip .delete a {
    color: #000;
}
.drip .delete:hover {
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
}
.drip .delete:hover a {
    color: red;
}
.alert {
    margin-bottom: 20px;
}
.hidden {
    display: none !important;
}
.content-section-title {
    width: 100%;
    padding: 16px 5px 0;
    display: inline-block;
    margin-bottom: 25px;
}

.content-section-title .top-line {
    float: left;
    clear: both;
    border-top: 4px solid #000;
    width: 57px;
}
h5{
    float: left;
    clear: both;
    color: #000 !important;
    font-size: 18px !important;
    line-height: 18px;
    font-weight: 600 !important;
}
.content {

    padding: 16px 193px 16px 28px;
    float: left;
    clear: both;
    margin-bottom: 8px;
}
span {
    color: #000;
    line-height: 40px;
}
@font-face {
    font-family: 'icomoon';
    src:  url('https://app.buildfire.com/app/fonticons/icomoon.eot?9ykkiv');
    src:  url('https://app.buildfire.com/app/fonticons/icomoon.eot?9ykkiv#iefix') format('embedded-opentype'),
    url('https://app.buildfire.com/app/fonticons/icomoon.ttf?9ykkiv') format('truetype'),
    url('https://app.buildfire.com/app/fonticons/icomoon.woff?9ykkiv') format('woff'),
    url('https://app.buildfire.com/app/fonticons/icomoon.svg?9ykkiv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*=" icon-"], [class^=icon-] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cross2:before {
    content: "\e60e";
}
.tooltip-holder {
    position: relative;
}
.tip{
    width: 15px !important;
    height: 15px !important;
    vertical-align: middle;

    -webkit-text-stroke: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    position: relative;
    border-radius: 50px;
    color: #fff;
    border: 0;
    cursor: pointer;

    text-align: center;
    margin-top: -12px;
    vertical-align: middle;
    line-height: 15px;
}
.tooltip-container {
    background-color: rgba(0,0,0,0.7);
    display: block;
    line-height: 1.3;
    padding: 5px;
    width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8em;
    position: absolute;
    top: -25px;
    left: 27px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
}

.tip:hover .tooltip-container {
    opacity: 1 !important;
    transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
}
#myModal {
    position: fixed;
    left: 0;
    right: 0;
}
.modal:not(.in) {
    pointer-events: none !important;
}
textarea.form-control {
    margin-bottom: 5px;
}
