*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px !important;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold !important;
}

p.info__note,
div.info__note {
    background-color: #ececec;
    line-height: 1.33;
    color: #808080;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
}
.btn--icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}
.btn--icon.btn--danger:hover span.icon{
    color: red;
}
.btn--icon:hover{
    background-color: #F2F2F2;
}
.btn:active{
    opacity: .8;
}
.btn--info{
    background-color: #000 !important;
    color: #fff;
}
.btn--info:hover{
    background-color: #3B3B3B;
}
.btn--primary{
    background-color: #05acf0 !important;
    color: #fff;
}
.btn--ghost{
    border: 1px solid #000 !important;
}
.btn--ghost:hover{
    border: 1px solid #000;
    opacity: .6;
}
.btn--primary:hover{
    background-color: #0089D0;
}
.btn--lg{
    padding: .375rem 3rem !important;
}
p.empty{
    font-size: 1rem;
    margin: 0
}
.btn-info-icon::after{
    font-style: normal;
    font-weight: bold;
    top: -1px !important;
    left: 0;
}

.btn-primary.btn-add{
    position: relative;
    padding-left: 2.25rem;
}
.btn-primary.btn-add::before{
    content: "";
    width: .75rem;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    display: inline-block;
    height: 1px;
    background-color: var(--c-primary);
    margin-right: .5rem;
    position: absolute;
}
.btn-primary.btn-add::after{
    content: "";
    width: .75rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: 1rem;
    display: inline-block;
    height: 1px;
    background-color: var(--c-primary);
    margin-right: .5rem;
    position: absolute;
}

section{
    margin: 1rem 0;
}

.drip {
    border: solid 1px #d8d8d8;
    border-radius: .5rem;
    position: relative;
    margin-bottom: .75rem;
}
.drip:last-of-type{
    margin-bottom: 2rem;
}
.drip__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem .75rem .75rem 1rem;
}
.drip__header__actions{
    display: flex;
}
.drip__header p{
    margin: 0;
}
.drip__header p span{
    margin-right: .75rem;
    color: #5f5f5f;
}
.drip__body{
    background-color: rgba(128,128,128,0.1);
    padding: 1rem 1rem 1rem 3.5rem;
}
.drip__body p{
    margin-bottom: 0;
    font-size: 1rem;
    word-break: break-all !important;
    color: #000;
}
.drip__body h6{
    margin-top: 0;
    word-break: break-all !important;
    color: #000;
}
.drip .title {
    color: #222;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    margin-top: 5px;
}
.drip .text {
    margin: 5px 0;
    padding-right: 50px;
    word-break: break-all !important;
}
.drip .days {
    color: #5f5f5f;
    display: block;
    line-height: 25px;
}
.drip-day-input {
    max-width: 65px;
}
.drip .delete {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    position: absolute;
    top: 50%;
    height: 56px;
    margin-top: -28px;
}
.drip .delete a {
    color: #000;
}
.drip .dripDelete,
.drip .dripDelete span  {
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
}
.drip .dripDelete:hover span {
    color: red;
}
.alert {
    margin-bottom: 20px;
}
.hidden {
    display: none !important;
}
.content-section-title {
    width: 100%;
    padding: 16px 5px 0;
    display: inline-block;
    margin-bottom: 25px;
}

h5{
    float: left;
    clear: both;
    color: #000 !important;
    font-size: 18px !important;
    line-height: 18px;
    font-weight: 600 !important;
}
.content {

    padding: 16px 193px 16px 28px;
    float: left;
    clear: both;
    margin-bottom: 8px;
}
span {
    color: #000;
    line-height: 40px;
}
@font-face {
    font-family: 'icomoon';
    src:  url('https://app.buildfire.com/app/fonticons/icomoon.eot?9ykkiv');
    src:  url('https://app.buildfire.com/app/fonticons/icomoon.eot?9ykkiv#iefix') format('embedded-opentype'),
    url('https://app.buildfire.com/app/fonticons/icomoon.ttf?9ykkiv') format('truetype'),
    url('https://app.buildfire.com/app/fonticons/icomoon.woff?9ykkiv') format('woff'),
    url('https://app.buildfire.com/app/fonticons/icomoon.svg?9ykkiv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*=" icon-"], [class^=icon-] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon{
    font-size: 1.25rem;
    margin: 0;
    padding: .125rem;
    flex-shrink: 0;
}

.icon-cross2:before {
    content: "\e60e";
}


/* tooltip */
.tooltip-container * {
    box-sizing: border-box;
}

.tooltip-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.tooltip-container .btn-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    position: relative;
    top: 0;
}
.tooltip-container .btn-info-icon:after {
    content: 'i';
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    left: 0;
    top: auto !important;
}
.tooltip-container .btn-info-icon .cp-tooltip {
    pointer-events: none;
    background-color: rgba(0, 0, 0, .80);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    left: calc(100% + 12px);
    cursor: auto;
    font-size: 12px;
    text-align: left;
    width: 200px;
    opacity: 0;
    transform: scale(.1);
    transition: opacity ease .1s, transform ease .1s;
    transform-origin: left;
    z-index: 100;
    font-weight: 400;
    line-height: 18px;
    -webkit-text-stroke: 0;
}
.top-cp-tooltip {
    top: 0;
}
.bottom-cp-tooltip {
    bottom: 0;
}
.tooltip-container .btn-info-icon .cp-tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    transform: rotate(90deg) translate(-50%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .80) transparent transparent transparent;
}
.top-cp-tooltip::before {
    top: 10px !important;
}
.bottom-cp-tooltip::before {
    bottom: 0 !important;
    top: unset !important;
}
.tooltip-container .btn-info-icon:hover .cp-tooltip {
    opacity: 1;
    transform: scale(1);
}

.tooltip-container span.required {
    width: auto;
}

.tooltip-container span.required::after {
    content: '*';
    color: var(--c-danger);
}

/* end of tooltip */

#myModal {
    position: fixed;
    left: 0;
    right: 0;
}
#myModalLabel {
    font-weight: 600;
}
.modal:not(.in) {
    pointer-events: none !important;
}
textarea.form-control {
    height: 55px !important;
    min-height: 55px !important;
    margin-bottom: 5px;
}
.modal-header .close {
    margin-top: -8px !important;
}
#nodrips {
    text-align: center;
    font-size: 0.7em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading {
    text-align: center;
    font-size: 0.7em;
    opacity: 0.75;
}
.error-msg {
    display: flex !important;
    align-items: center;
    margin-top: 4px;
    padding-bottom: 1em;
    opacity: 0;
}
.error-msg p {
    margin: 0 0 0 .5rem;
}
.error-msg.show {
    opacity: 1 !important;
}
.draggable-list-view {
    border: 0 !important;
    margin: 0 !important;
}
.draggable-list-view .d-item {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: .75rem;
    border-radius: .25rem;
    padding: .75rem !important;
    justify-content: space-between;
    align-items: center;
}
.draggable-list-view .d-item p {
    margin: 0;
}
.draggable-list-view .d-item__text {
    flex: auto;
    margin-left: 1rem;
    align-items: center;
}
.draggable-list-view .d-item__text .title {
    width: 70%;
    color: black;
    font-weight: bold;
}
.draggable-list-view .text--secondary {
    font-size: .75rem;
    opacity: .85;
}
.draggable-list-view .d-item .subTitle {
    width: calc(50% - 1rem);
    flex-shrink: 0;
}
.draggable-list-view .d-item:hover {
    box-shadow: 0 .25rem .25rem -.25rem rgba(0, 0, 0, .2);
}
.draggable-list-view .d-item span.icon {
    top: 0 !important;
    margin-right: 0px !important;
}
.draggable-list-view .d-item .btn--icon .icon {
    font-size: 1.125rem;
    color: #000;
}
.draggable-list-view .d-item .d-item__title {
    flex: auto;
    display: flex;
}
.draggable-list-view .d-item .d-item__actions {
    display: flex;
    margin-left: 1rem;
}
